/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  letter-spacing: 0;
  background-color: #C5E4E7;
  color: #222;
}
img
{
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  max-width: 1100px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* ** MAIN CONTENT ** */
.main-content
{
  padding-top: 80px;
  flex-grow: 1;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  display: block;
  margin-bottom: 50px;
  cursor: pointer;
}
.logo__img {

}
.content {
  display: flex;
  width: 920px;
  border-radius: 25px;
  background-color: #FFF;
  box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.20);
}

#selector-wrp{
  padding: 45px 48px 48px;
  display: flex;
  flex-direction: column;
}
#selector-wrp label{
  color: #5E7A7D;
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 6px;
}

.inputt{
  color: #00474B;
text-align: right;
font-family: Space Mono;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 6px 17px;
border: none;
border-radius: 5px;
background: #F3F9FA;
}
.select-tips {
display: grid;
grid-template-columns: 117px 117px 117px;
column-gap: 14px;
row-gap: 16px;
margin-bottom: auto;
}
.input-custom{
  color: #547878;
text-align: right;
font-family: Space Mono;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 6px 14px;
border: none;
border-radius: 5px;
background: #F3F9FA;
}
#bill{
  margin-bottom: 40px;
}
#tips-title{
  color: #5E7A7D;
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.btn-tips {
  color: #FFF;
text-align: center;
font-family: Space Mono;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 5px;
background-color: #00474B;
border: 0;
padding: 0;
padding: 6px 14px 6px 13px;
cursor: pointer;
}
.btn-tips-selected{
  color: #00474B;
  background-color: #26C2AE;
}

#value-wrp{
  padding: 32px;
  padding-left: 0;
}

.values {
  width: 413px;
  border-radius: 15px;
  background: #00474B;
  padding: 40px;
}
.values p{
  margin: 0;
  color: #26C2AE;
font-family: Space Mono;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1px;
}
.tip-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.tip-amount div{
  display: flex;
  flex-direction: column;
}
.tip{
  color: #FFF;
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.per{
  color: #7F9D9F;
  font-family: Space Mono;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 122px;
}
.total div{
  display: flex;
  flex-direction: column;
}
.btn {
  padding: 0;
  border: 0;
  background-color: #26C2AE;
text-align: center;
text-transform: uppercase;
font-family: Space Mono;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 5px;
cursor: pointer;
}
.btn-large {
  width: 100%;
  color: #00474B;
  padding: 9px 40px 9px 37px;
}